executor: CeleryExecutor

airflow:
  image:
    repository: apache/airflow
    tag: 2.8.1
  config:
    AIRFLOW__CORE__LOAD_EXAMPLES: "false"

postgresql:
  enabled: true
  image:
    registry: docker.io
    repository: bitnami/postgresql
    tag: 15.5.0-debian-11-r0

redis:
  enabled: true

webserver:
  service:
    type: NodePort

dags:
  persistence:
    enabled: false
  gitSync:
    enabled: false
