executor: KubernetesExecutor

airflow:
  image:
    repository: apache/airflow
    tag: 2.8.4
    pullPolicy: IfNotPresent

postgresql:
  enabled: true
  image:
    repository: postgres
    tag: "15"
  auth:
    username: airflow
    password: airflow
    database: airflow
  primary:
    persistence:
      enabled: true
      size: 8Gi

redis:
  enabled: false

webserver:
  service:
    type: NodePort

logs:
  persistence:
    enabled: false
