executor: KubernetesExecutor

airflow:
  image:
    repository: apache/airflow
    tag: 2.8.4
    pullPolicy: IfNotPresent

postgresql:
  enabled: true
  image:
    registry: docker.io
    repository: bitnami/postgresql
    tag: 15

redis:
  enabled: false

webserver:
  service:
    type: NodePort

logs:
  persistence:
    enabled: false
