executor: KubernetesExecutor

airflow:
  image:
    repository: apache/airflow
    tag: 2.8.4
    pullPolicy: IfNotPresent

postgresql:
  enabled: true
  auth:
    existingSecret: airflow-postgresql
    secretKeys:
      adminPasswordKey: postgres-password
      userPasswordKey: postgres-password


redis:
  enabled: false

webserver:
  service:
    type: NodePort

logs:
  persistence:
    enabled: false
